{% extends "project/base.html" %}

{% block content %}
    <h2>Friend Suggestions for {{ profile.first_name }} {{ profile.last_name }}</h2>
    <div class="friend-container">
        {% for suggestion in profile.get_friend_suggestions %}
        <div class="friend-item">
            <a href="{%url 'show_profile' suggestion.pk%}">{{suggestion.first_name }} {{suggestion.last_name}}</a>
            <a href="{% url 'add_friend' profile.pk suggestion.pk %}" class="back-link">Add Friend</a>
        </div>
    {% empty %}
        <h1>No friends available to suggest.</h1>
    {% endfor %}
    </div>
    <a href="{% url 'show_profile' profile.pk %}" class="back-link">Back to Profile</a>
{% endblock %}
