<!-- blog/templates/blog/base.html 
 A template with common HTML code that will be re-used by 
 all of the other templates.
 -->

 {% load static %}
<html>
    <head>
        <title>mini_fb</title>
        <link rel="stylesheet" href="{% static 'styles-mini_fb.css' %}">
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="{% url 'show_all' %}">All Profiles</a></li>
                <li><a href="{% url 'create_profile' %}">Create New Profile</a></li>
            </ul>
        </nav>

        {% block content %}
        <!-- fill in this section with specific page detail -->
        {% endblock %}

    </body>
</html>