{% extends 'quotes/base.html' %}
{%load static%}
{% block content %}
    <h1>WHO IS...</h1>
    <div class="aboutTitle">
        <div class="largeText">
            <h1>FRANK OCEAN</h1>
        </div>
    </div>
    <div>
        <div class="frankBio1">
            <p>Frank Ocean, born Christopher Edwin Breaux on October 28, 1987, is an American singer, songwriter, record producer, and visual artist. Known for his distinctive voice and introspective lyricism, Ocean has become a prominent figure in contemporary R&B and pop. </p>
        </div>
        <div class="frankBio2">
    <p>He gained initial recognition through his work with the hip-hop collective Odd Future before releasing his groundbreaking debut mixtape, Nostalgia, Ultra (2011).
    
        His debut album, Channel Orange (2012), received critical acclaim and won a Grammy for Best Urban Contemporary Album. The album featured hits like "Thinkin Bout You" and "Pyramids" and solidified his status as a unique voice in the music industry. After a four-year hiatus, Ocean released Blonde (2016), a genre-defying work celebrated for its emotional depth and experimental production.
        
        Ocean is known for his artistic independence, enigmatic public persona, and ability to blend soul, jazz, and electronic elements into his music. He has become a cultural icon, not only for his artistry but also for being one of the first major Black artists to openly address his queerness, challenging norms in both music and society.</p></p>
        </div>
    </div>
    
        <p>Note about the author: James Xiao is a senior at Boston University, majoring in computer science. Hailing from Santa Clara, California, James enjoys a variety of interests outside of his academic pursuits. His passions include cooking, staying active, and exploring different types of music. He also thrives in creative activities, embracing a diverse range of experiences that fuel his curiosity and creativity.</p>
{% endblock %}
